<!DOCTYPE html>
<html>
<head>
    <title>Mini Quiz App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>Mini Quiz App</h1>

        <button onclick="loadQuiz()" class="start-btn">
            Start Quiz
        </button>

        <form id="quiz-form">
            <div id="quiz" ></div>

            <button type="submit" class="submit-btn" id="submit-btn" style="display:none;">
            Submit Quiz
            </button>
        </form>

        <div id="result"></div>
    </div>

    <script src="/static/script.js"></script>

</body>
</html>